.none {
    color: white;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

h1 {
    align-items: center;
    justify-content: center;
    text-align: center;
}

div {
    margin-bottom: 5px;
}

body{
    margin: 10px;
    border: 10px;
}